{% if upload.text %} {# Text Upload #}

    <div class="upload-item">
        <h3>{{ upload.title }}</h3>
        <div class="text-content">
            <p>{{ upload.text | truncatechars:255 }}</p>
            <div class="text-file-url">
                <a href="{{ upload.file.url }}" class="file-link">{{ upload.file.url }}</a>
            </div>
            <div class="hash">
                <span>SHA256:</span>
                <code>{{ upload.sha256sum }}</code>
            </div>
            <div class="hash">
                <span>Size:</span>
                <code>{{ upload.size }}</code>
            </div>
        </div>
        <div class="upload-meta">
            {{ upload.created_at | date:"Y-m-d H:i:s" }}
        </div>
    </div>

{% else %} {# File Upload #}

    <div class="upload-item">
        <h3>{{ upload.title }}</h3>
        <div class="file-info">
            <a href="{{ upload.file.url }}" class="file-link">
                {{ upload.file.name }}
            </a>
            <div class="hash">
                <span>SHA256:</span>
                <code>{{ upload.sha256sum }}</code>
            </div>
            <div class="hash">
                <span>Size:</span>
                <code>{{ upload.size }}</code>
            </div>
        </div>
        <div class="upload-meta">
            {{ upload.created_at | date:"Y-m-d H:i:s" }}
        </div>
    </div>

{% endif %}