# $ cat /etc/systemd/system/php_uploader.service
[Unit]
Description=PHP (somewhat simple) web app for uploading/downloading files...
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/php_uploader
ExecStart=php -S 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target