[Unit]
Description=Django Random Apps
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/random_apps/
ExecStart=/var/www/random_apps/venv/bin/python /var/www/random_apps/random_apps/manage.py runserver 127.0.0.1:11892

[Install]
WantedBy=multi-user.target
